$bg-color: white;



$text-color:  #6e6d6e;
$primary-color: #ffb266;
$font:'Josefin Sans', sans-serif;

$design-color:#99999991;
$input-color: rgb(98, 96, 96);


$sizebig: 2rem;
$sizemedium: 1.7rem;
$sizenormal: 1.5rem;




